<!DOCTYPE html>
<html>

<% include ./head %> 

<body class="theme-red">

    <% include ./page_loader %> 

    <!-- Overlay For Sidebars -->
    <!-- <div class="overlay"></div> -->
    <!-- #END# Overlay For Sidebars -->

    <!-- Search Bar -->
    <% include ./search_bar %> 
    <!-- #END# Search Bar -->

    <% include ./navbar %> 

    <% include ./sidebar %>

    <% include ./feed_partial %>

    <% include ./include_js_plugins %>
    
    <% include ./include_custom_js %>
    <script src="./node_modules/clipboard/dist/clipboard.min.js"></script>
    <script type="text/javascript">
        (function($){
            new Clipboard('#card-title');
            $.get("http://labs.balaaagi.me:9108/getopenrequests", function(data){ 
                console.log(data); 

                var response = data.requests;
                response = response.slice(Math.max(response.length-5, 1));
                for (var i=0, l=response.length; i<l; i++){
                    console.log("xyz" + $(".card-div").length);
                    var card = $(".card-div:last");
                    var card_clone;

                    if(i == 0){card = $(".card-div:first"); card_clone = card; }
                    else {card = $(".card-div:last"); card_clone = card.clone();}
                    current = response[i];
                    console.log("current");
                    console.log(current);
                    $(card_clone).find("#card-title")[0].innerHTML = current["itemquantity"] + " " + current["itemquantityUnit"] + " of " + current["itemname"] + " required";
                    $(card_clone).find("#card-person")[0].innerHTML = "sdlkfjlksdfj";
                    $(card_clone).find("#card-description")[0].innerHTML = "sdlkfjlksdfj";
                    card_clone.insertAfter(card);
                }
            }).fail(function(){ alert("failed");  });
        })(jQuery);
    </script>

    <!-- Demo Js -->
    <script src="js/demo.js"></script>
    
    <!-- Registering Service worker for Offline viewing IMPORTANT -->
<!--     <script src="./service-worker-registration.js"></script>
    <script src="./service-worker.js"></script> -->

</body>


</html>