<!DOCTYPE html>
<html>

<% include ./head %> 

<body class="theme-red">

    <% include ./page_loader %> 

    <!-- Overlay For Sidebars -->
    <!-- <div class="overlay"></div> -->
    <!-- #END# Overlay For Sidebars -->

    <!-- Search Bar -->
    <% include ./search_bar %> 
    <!-- #END# Search Bar -->

    <% include ./navbar %> 

    <% include ./sidebar %>

    <% include ./i_need_help_partial %>

    <% include ./include_js_plugins %>
    
    <% include ./include_custom_js %>

    <!-- Demo Js -->
    <script src="js/demo.js"></script>

    <!-- Registering Service worker for Offline viewing IMPORTANT -->
<!--     <script src="./service-worker-registration.js"></script>
    <script src="./service-worker.js"></script> -->
    <script>
    <script type="text/javascript">
        $(".add-items").click(function(){
            var phonenumber = $("#mobile_number")[0].value;
            var name = $("#user_name")[0].value;

            $.post("http://labs.balaaagi.me:9108/udhavisignup", {phonenumber : phonenumber, name: name}, function(data){ console.log(data); }).fail(function(){ alert("failed");  });});
    </script>
    </script>
</body>


</html>