<!DOCTYPE html>
<html>

<% include ./head %> 

<body class="theme-red">

    <% include ./page_loader %> 

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <!-- Search Bar -->
    <% include ./search_bar %> 
    <!-- #END# Search Bar -->

    <% include ./navbar %> 

    <% include ./sidebar %>

    <section class="content">
        <% include ./dashboard %>
    </section>


    <% include ./include_js_plugins %>
    <!-- Custom Js -->
    <script src="js/admin.js"></script>
    <script src="js/pages/index.js"></script>

    <!-- Demo Js -->
    <script src="js/demo.js"></script>


    <!-- Registering Service worker for Offline viewing IMPORTANT -->
<!--     <script src="./service-worker-registration.js"></script>
    <script src="./service-worker.js"></script> -->
</body>

</html>