<!DOCTYPE html>
<html>

<% include ./head %> 

<body class="theme-red">

    <% include ./page_loader %> 

    <!-- Overlay For Sidebars -->
    <!-- <div class="overlay"></div> -->
    <!-- #END# Overlay For Sidebars -->

    <!-- Search Bar -->
    <% include ./search_bar %> 
    <!-- #END# Search Bar -->

    <% include ./navbar %> 

    <% include ./sidebar %>

    <% include ./sign-in-partial %>

    <% include ./include_js_plugins %>
    
    <% include ./include_custom_js %>

    <!-- Demo Js -->
    <script src="js/demo.js"></script>

    <script type="text/javascript">
        $("#sign-in-button").click(function(){
            event.preventDefault();
            var phonenumber = $("#mobile_number")[0].value;
            $.post("http://labs.balaaagi.me:9108/login", {phonenumber : phonenumber}, function(data){ console.log("here");window.location.assign("/feed"); }).fail(function(){ alert("failed");  });
        });
    </script>

    <!-- Registering Service worker for Offline viewing IMPORTANT -->
    <script src="./service-worker-registration.js"></script>
    <script src="./service-worker.js"></script>
    <script src="./node_modules/sw-toolbox/companion.js" data-service-worker="service-worker.js"></script>
</body>

</html>